* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
    /* border: 1px solid #111; */
}

::-webkit-scrollbar {
    display: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 10%;
    padding-block: 2%;
    width: 100%;
    position: fixed;
    z-index: 99;
    background-color: #151a4eab;
}

header #logo {
    animation: slideRight 1s ease forwards;
}

header a {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    width: fit-content;
    position: relative;
    transition-duration: .5s;
    transition-timing-function: ease;
}

header nav a {
    display: inline-block;
    margin-left: 50px;
    opacity: 0;
    color: #ffffff51;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

header a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -7px;
    height: 3px;
    width: 0;
    border-radius: 10px;
    background-color: #fff;
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

header a:hover::after {
    width: 100%;
    left: 0;
}

header a:hover,
header a.active {
    color: #fff;
}

header a.active::after {
    width: 100%;
    left: 0;
}

header .bx-menu {
    display: none;
}

section {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 2% 0; */
    padding-inline: 10%;
}

#home { 
    background: #fff;
    justify-content: space-between;
    position: relative;
}

#home .home-content {
    max-width: 600px;
}

.home-content h3 {
    font-size: 2rem;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3 span {
    color: #002266;
    font-weight: 800;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: 3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content p {
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

#home .home-img img {
    max-width: 450px;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 1s, 2s;
}

.social-media a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: transparent;
    border: 2px solid #002266;
    border-radius: 50%;
    font-size: 30px;
    color: #002266;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition-duration: .3s;
    transition-timing-function: ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.social-media a:hover {
    background-color: #002266;
    color: #fff;
    box-shadow: 0 0 20px #002266;
}

#home .btn {
    display: inline-block;
    padding: 12px 28px;
    background: #002266;
    border-radius: 40px;
    box-shadow: 0 0 10px #002266;
    color: #fff;
    font-size: 20px;
    letter-spacing: 1px;
    text-decoration: none;
    transition-duration: .3s;
    transition-timing-function: ease;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
}

#home .btn:hover {
    background-color: #fff;
    color: #002266;
}

#project {
    background-image: linear-gradient(royalblue, white);
}

#contact {
    background-color: #fff;
    gap: 20%;
}

#contact img{
    height: 60vh;
}

#about {
    background-image: linear-gradient(white, antiquewhite);
}

.contact-form {
    width: 25%;
}

.contact-form h2 {
    text-align: center;
}

.contact-form .input-box {
    position: relative;
    width: 100%;
    margin-top: 15px;
}

.contact-form .input-box input,
.contact-form .input-box textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 1rem;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    background-color: transparent;
    outline: none;
    resize: none;
}

.contact-form .input-box span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 1rem;
    margin: 5px 0;
    pointer-events: none;
    transition-duration: 0.5s;
    color: #666;
}

.contact-form .input-box input:focus ~ span,
.contact-form .input-box input:valid ~ span,
.contact-form .input-box textarea:focus ~ span,
.contact-form .input-box textarea:valid ~ span {
    color: #002266;
    font-size: 0.8rem;
    font-weight: bold;
    transform: translateY(-22px);
}

.contact-form .input-box input[type="submit"] {
    background-color: #002266;
    border: none;
    padding: 1rem;
    color: #fff;
    border-radius: 20px;
}

/* @animation */
@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-23px);
    }
    100% {
        transform: translateY(0);
    }
}